<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Survival Rate</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="Site1/stylesheet.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <form action="{{ url_for('Survival') }}" method="POST">
            <fieldset>
                <legend>Input values:</legend>
                Organ Type:
                <input name="organ" type="organ type" required>
                <br>
                <br> Donor Type:
                <input name="donor type" type="cadaveric or living" required>
                <br>
                <br> State Abbreviation:
                <input name="state" type="state abbreviation" required>
                <br>
                <br>
                <input type="submit">
            </fieldset>
        </form>
        <br>
        <div class="result" align="center">
            <ul>
                {% if result %}
                    {% for variable, value in original_input.items() %}
                        <b>{{ variable }}</b> : {{ value }}
                    {% endfor %}
                    <br>
                    <br> Predicted survival rate:
                    <!-- <p style= font-size:50px > {{ result }}</p> -->
                {% endif %}
            </ul>
        </div>
    </body>
</html>